<footer class="footer">
  <small>
    <%= t("views.layouts.urlfooter",
      url1: "http://www.railstutorial.org/",
      url2: "http://www.michaelhartl.com/").html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("views.layouts.about"), about_path %></li>
      <li><%= link_to t("views.layouts.contact"), contact_path %></li>
      <li><%= t("views.layouts.urlnews",
        url:"http://news.railstutorial.org/").html_safe %></li>
    </ul>
  </nav>
</footer>
